<connectionStrings>
  <add name="eToolsDB"
       connectionString="Data Source=.; Initial Catalog=eTools; Integrated Security=true" providerName="System.Data.SqlClient"/>
    <add name="DefaultConnection"
      connectionString="Data Source=.;Initial Catalog=eTools;Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>
  <!--<add name="DefaultConnection"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-2e49bf40-28f3-4fa6-b9e6-622d2820af15;AttachDbFilename=|DataDirectory|\aspnet-Website-2e49bf40-28f3-4fa6-b9e6-622d2820af15.mdf;Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>-->
</connectionStrings>